<div id="<%= dom_id review %>">
  <p>
    <strong>Book:</strong>
    <%= review.book_id %>
  </p>

  <p>
    <strong>Member:</strong>
    <%= review.member_id %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= review.comment %>
  </p>

  <p>
    <strong>Review date:</strong>
    <%= review.review_date %>
  </p>

</div>
